*.md
.dockerignore
.editorconfig
.env*
.git/
.gitattributes
.github/
.gitignore
.gitmodules
.idea/
.nvmrc
docker-compose.yml
bootstrap/cache/*
deployment/
docker/
!docker/app/rootfs/
node_modules/
{{- if .ComposerDeps.ModuleEnabled "laravel/nova" }}
nova-components/**/node_modules/
nova-components/**/vendor/
{{- end }}
vendor/
storage/app/public
storage/debugbar
public/build
