includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#^Access to an undefined property #'
    excludePaths:
        - ./app/Actions/Socialstream/*
        - ./app/Models/ConnectedAccount.php
        - ./app/Nova/Resource.php
        - ./app/Exceptions/Handler.php
