*.md
.clevyr-installer-config
.dockerignore
.editorconfig
.env*
.git/
.gitattributes
.github/
.gitignore
.gitmodules
.idea/
.nvmrc
docker-compose.yml
bootstrap/cache/*
deployment/
docker/
!docker/app/rootfs/
node_modules/
{{ if eq .AdminGen "Nova" -}}
nova-components/**/node_modules/
nova-components/**/vendor/
{{ end -}}
vendor/
storage/app/public
storage/debugbar
