{{ if eq .AdminGen "Nova" -}}
nova-components/**/node_modules/
nova-components/**/vendor/
{{ end -}}
.clevyr-installer-config
.github/
.dockerignore
.editorconfig
.env
.env.example
.eslintrc
.git/
.gitattributes
.gitignore
*.md
docker-compose.yml
bootstrap/cache/*
docker/
!docker/app/rootfs/
node_modules/
phpunit.xml
tests/
vendor/
storage/app/public
